Hematogenix.Core/obj/
Hematogenix.Application/obj/
Hematogenix.DataAccess/obj/
Hematogenix.Shared/obj/
Hematogenix.Web/obj/
Hematogenix.Application.UnitTests/obj/
packages/
src/Hematogenix.Web/obj/
src/Hematogenix.Web/bin/
src/Hematogenix.Shared/obj/
src/Hematogenix.DataAccess/obj/
src/Hematogenix.Core/obj/
src/Hematogenix.Application/obj/
tests/Hematogenix.Application.UnitTests/obj/
tests/Hematogenix.Application.UnitTests/bin/
.vs/
src/Web/obj/
src/Hematogenix.DataAccess/bin/
src/Hematogenix.Core/bin/
src/Hematogenix.Application/bin/
src/Hematogenix.Shared/bin/
src/Hematogenix.Web/Properties/
src/Hematogenix.Web/.config/
hematogenix.zip
