
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/validator/13.5.2/validator.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/validator/13.5.2/validator.js"></script>

<h2>Register</h2>

<form role="form" id="register" data-toggle="validator">
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" id="username" maxlength="50" pattern="[a-zA-Z0-9\s]+" oninvalid="setCustomValidity('Please enter on Alphanumeric')" onchange="try{setCustomValidity('')}catch(e){}" required>
    </div>
    <div class="form-group">
        <label for="firstname">First Name:</label>
        <input type="text" class="form-control" id="firstname" maxlength="50">
    </div>
    <div class="form-group">
        <label for="lastname">Last Name:</label>
        <input type="text" class="form-control" id="lastname" maxlength="50">
    </div>
    <div class="form-group">
        <label for="role">Role:</label><br />
        <label class="radio-inline"><input type="radio" value="generaluser" name="role" required> General User</label>
        <label class="radio-inline"><input type="radio" value="superuser" name="role" required> Super User</label>
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" required>
    </div>
    <div class="form-group">
        <label for="phone">Phone:</label>
        <input type="tel" class="form-control" id="phone">
    </div>
    <button type="submit" class="btn btn-info" id="submit">Submit</button>
    <button type="reset" class="btn btn-default">Reset</button>
</form>

<script>
    $(document).ready(function () {

        $('input[name=role]').click(function () {
            if ($('input[name=role]:checked').val() === "superuser")
                document.getElementById("phone").required = true;
            else
                document.getElementById("phone").required = false;
        });

        $('#register').validator().on('submit', function (e) {
            if (e.isDefaultPrevented()) {
                // handle the invalid form...
            } else {
                // everything looks good!
                var formData = {
                    'username': $('#username').val(),
                    'firstname': $('#firstname').val(),
                    'lastname': $('#lastname').val(),
                    'role': $('input[name=role]:checked').val(),
                    'email': $('#email').val(),
                    'phone': $('#phone').val(),
                };

                console.log(formData);

                $.ajax({
                    type: 'POST',
                    url: 'registeruser',
                    data: formData,
                    dataType: 'json',
                    encode: true
                }).done(function (data) {
                    console.log(data);
                });
                event.preventDefault();
            }
        });
    });
</script>