
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Register</h2>

<form class="form-group">
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" id="username">
    </div>
    <div class="form-group">
        <label for="firstname">First Name:</label>
        <input type="text" class="form-control" id="firstname">
    </div>
    <div class="form-group">
        <label for="lastname">Last Name:</label>
        <input type="text" class="form-control" id="lastname">
    </div>
    <div class="form-group">
        <label for="role">Role:</label><br />   
        <label class="radio-inline"><input type="radio" id="generaluser" name="role"> General User</label>
        <label class="radio-inline"><input type="radio" id="superuser" name="role"> Super User</label>
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email">
    </div>
    <div class="form-group">
        <label for="phone">Phone:</label>
        <input type="tel" class="form-control" id="phone">
    </div>
    <button type="submit" class="btn btn-info">Submit</button>
    <button type="submit" class="btn btn-default">Reset</button>
</form>
